<section id="contact" class="p-20 bg-gray-100">
    <h2 class="text-2xl">Nous contacter</h2>

    <div class="flex gap-x-20 mt-8">
        <div class="w-1/2">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d40490.80836522039!2d2.943907648632804!3d50.63314430000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c2d55c764ab439%3A0x2e9bfd5c48d283b!2sEuraTechnologies!5e0!3m2!1sfr!2sfr!4v1727949955484!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <div class="w-1/2">
            <form class="flex flex-col">
                <label>Votre adresse e-mail</label>
                <input type="email" class="border-2 p-2 focus:outline-none">
                
                <label class="mt-4">Votre message</label>
                <textarea rows="10" class="w-full border-2 focus:outline-none p-2 resize-none"></textarea>

                <div class="flex justify-center">
                    <button class="rounded bg-primary text-white hover:bg-white hover:border-2 hover:border-primary hover:text-primary px-8 py-2 mt-4">Envoyer</button>
                </div>
            </form>
        </div>
    </div>
</section>