---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
import Presentation from './presentation.astro';
import Social from './social.astro';
import Environment from './environment.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Header />

		<Presentation />

		<Social />

		<Environment />
	</main>
</Layout>

<script>
	document.querySelector('#to_presentation')?.addEventListener('click', () => {
		document.querySelector('#presentation')?.scrollIntoView({ behavior: 'smooth' });
	});

	document.querySelector('#to_social')?.addEventListener('click', () => {
		document.querySelector('#social')?.scrollIntoView({ behavior: 'smooth' });
	});

	document.querySelector('#to_environment')?.addEventListener('click', () => {		
		document.querySelector('#environment')?.scrollIntoView({ behavior: 'smooth' });
	});
</script>