---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
import Presentation from './presentation.astro';
import Social from './services.astro';
import Environment from './who_are_we.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Header />

		<Presentation />

		<Social />

		<Environment />
	</main>
</Layout>

<script>
	document.querySelector('#to_presentation')?.addEventListener('click', () => {
		document.querySelector('#presentation')?.scrollIntoView({ behavior: 'smooth' });
	});

	document.querySelector('#to_services')?.addEventListener('click', () => {
		document.querySelector('#services')?.scrollIntoView({ behavior: 'smooth' });
	});

	document.querySelector('#to_who_are_we')?.addEventListener('click', () => {		
		document.querySelector('#who_are_we')?.scrollIntoView({ behavior: 'smooth' });
	});
</script>