---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
import Presentation from './presentation.astro';
import Services from './services.astro';
import WhoAreWe from './who_are_we.astro';
import Footer from '../components/footer.astro';
import Contact from './contact.astro';
---

<Layout title="Welcome to Astro.">
	<main class="font-arrow">
		<Header />

		<Presentation />

		<Services />

		<WhoAreWe />

		<Contact />
		
		<Footer />
	</main>
</Layout>



<script>
	document.querySelector('#to_presentation')?.addEventListener('click', () => {
		document.querySelector('#presentation')?.scrollIntoView({ behavior: 'smooth' });
	});
	
	document.querySelector('#to_services')?.addEventListener('click', () => {
		document.querySelector('#services')?.scrollIntoView({ behavior: 'smooth' });
	});

	document.querySelector('#to_who_are_we')?.addEventListener('click', () => {		
		document.querySelector('#who_are_we')?.scrollIntoView({ behavior: 'smooth' });
	});
	
	document.querySelector('#to_contact')?.addEventListener('click', () => {		
		document.querySelector('#contact')?.scrollIntoView({ behavior: 'smooth' });
	});
</script>

<style>
	@font-face {
		font-family: 'Arrow';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url(/fonts/agrandir-narrow.otf) format('opentype');
	}
</style>