---
import Image from "../../public/img/test2.jpg"
---

<section id="presentation" class="relative flex justify-center items-center min-h-screen">
    <div class="absolute inset-0">
        <img src={Image.src} alt="Image" class="w-full h-full object-cover"/>
    </div>

    <p class="text-white text-6xl whitespace-nowrap z-10 mb-72">Faire du vert la couleur du savoir</p>
</section>
