---
import LogoLabel from '../../public/img/logo_RSSchool.png';
import BadgeB from '../../public/img/Badge_RSSchool_B.png';
import BadgeA from '../../public/img/Badge_RSSchool_A.png';
import BadgeC from '../../public/img/Badge_RSSchool_C.png';
---

<section id="services" class="p-20 bg-gray-100">
    <h2 class="text-2xl">Nos services :</h2>

    <div class="flex gap-x-20 mt-8">
        <div class="w-1/2 border-r-4">
            <h3 class="text-xl">
                Audit <span class="bg-primary text-white p-1 rounded ml-4">799 €</span><br>
                Renouvellement annuel <span class="bg-primary text-white p-1 rounded ml-4">499 €</span>
            </h3>
            <p class="my-10">Nous réalisons un audit des pratiques RSE actuelles en évaluant les performances à l'aide de critères ESG (environnement, social, gouvernance). Notre méthodologie comprend :</p>
            <ul class="list-disc">
                <li> Collecte de données et évaluation via une grille d'indicateurs clés.</li>
                <li> Diagnostic : Identification des points forts/faibles et recommandations.</li>
                <li> Outils : Rapports d'audit détaillés et KPI pour suivre les progrès.</li>
            </ul>

            <img src={ LogoLabel.src } class="mt-8" />
        </div>

        <div class="w-1/2">
            <h3 class="text-xl"> Accompagnement personalisé <span class="bg-primary text-white p-1 rounded ml-4">à partir de 1999 €</span></h3>
            <p class="my-10">Nous offrons un soutien à chaque étape du processus</p>
            <ul class="list-disc">
                <li>Plan d'action personnalisé : Mise en œuvre des recommandations avec un calendrier précis.</li>
                <li>Suivi : Pilotage régulier des actions et ajustements.</li>
                <li>Évaluation continue : Réévaluation des performances pour améliorer les résultats.</li>
            </ul>

            <div class="mt-8 flex items-center">
                <img src={ BadgeC.src } class="h-20" />
                <img src={ BadgeB.src } class="h-28" />
                <img src={ BadgeA.src } class="h-40" />
            </div>
        </div>
    </div>
</section>