<footer class="flex justify-between p-4 bg-footer text-white items-center">
    <div class="flex flex-col">
        <span>03 20 34 56 78</span>
        <span>contact@horizon-scholar.com</span>
    </div>

    <div>
        © 2024 - Horizon Scholar
    </div>

    <div>
        Mentions légales
    </div>
</footer>