<header class="px-8 py-2 flex justify-between sticky top-0 left-0 h-12">
    <h1>Horizon scholar</h1>

    <nav>
        <li class="flex gap-x-4 cursor-pointer">
            <ul id="to_presentation">Présentation</ul>
            <ul id="to_services">Services</ul>
            <ul id="to_who_are_we">Qui sommes-nous ?</ul>
        </li>
    </nav>
</header>

<style>
.banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999; /* Très grande valeur pour s'assurer que la bannière est au-dessus de tout */
    background-color: #fff; /* Ajuste selon le design */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optionnel: ombre pour un effet de profondeur */
    padding: 10px 20px; /* Ajuste selon tes besoins */
}

body {
    padding-top: 80px; /* Ajuste la hauteur selon celle de ta bannière */
}

</style>
