<header class="px-8 py-2 flex justify-between sticky top-0 left-0 h-12">
    <h1>Horizon scholar</h1>

    <nav>
        <li class="flex gap-x-4 cursor-pointer">
            <ul id="to_presentation">Présentation</ul>
            <ul id="to_social">Social</ul>
            <ul id="to_environment">Environnement</ul>
        </li>
    </nav>
</header>
